//colors
$Light-Cyan: #cee3e9;
$Neon-Green: #52ffa8;
$Grayish-Blue: #4e5d73;
$Dark-Grayish-Blue: #323a49;
$Dark-Blue: #1f2632;
//fonts
$Manrope: "Manrope";
//font-size
$quote: 28px;
//font-weight
$weights: 800;
//screen sizes
$mobile: 375px;
$desktop: 1440px;